body {
  color: black;
}

.addToDo {
  position: fixed;
  top: 0;
  left: 0;
  
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0,0,0,0.4);
  z-index: 1000;
}

.addToDoForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;

  background-color: rgb(90, 164, 255);
  border-radius: 10px;
  padding: 40px;
  width: 500px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.addToDoForm input{
  width: 100%;
  box-sizing: border-box;
}