html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: #BFD7EA;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

#KanbanBoard {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  background-color: #087E8B;
  padding: 10px;
  border-radius: 30px;
  width: 100%;
  max-width: 1100px;
}
